<!--
  login.html
  Ventana Login en la cual se autentifican los usarios y tambien se registran
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <form>
      <ion-item>
      <!--Definimos un input para capturar el email el cual tiene un label flotante que sale del input cuando empezamos a escribir en el-->
        <ion-label floating>Email</ion-label>
        <!--Definimos que este input guardara el valor de el email del objeto usuario-->
        <ion-input [(ngModel)]="user.email" name="email" type="text" autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <!--Definimos un input para capturar el password el cual tiene un label flotante que sale del input cuando empezamos a escribir en el--> 
        <ion-label floating>Contraseña</ion-label>
        <!--Definimos que este input guardara el valor de el password del objeto usuario-->
        <ion-input [(ngModel)]="user.password" name="password" type="password" required>
        </ion-input>
      </ion-item>
      <div padding>
        <!--Definimos el boton de inicio de sesion el cual llamara a la funcion login-->
        <button ion-button (click)="login()" type="submit" color="primary" block>
          Iniciar Sesion
        </button>

        <!--Definimos el boton para registrarse en al app el cual llamara a la funcion signin-->
        <button ion-button (click)="signin()" type="submit" color="secondary" block>
          Registrarse
        </button>
      </div>
    </form>
  </ion-list>
</ion-content>