<!--
  ver-guardar.html
  Ventana modal en la cual se capturan los datos de una nota ya se para guardarlos o para editarlos
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nota</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <ion-item>
    <!--Definimos un input para capturar el titulo de la nota el cual tiene un label flotante que sale del input cuando empezamos a escribir en el-->
      <ion-label floating>Titulo</ion-label>
        <!--Definimos que este input guardara el valor de el titulo del objeto nota-->
      <ion-input [(ngModel)]="nota.titulo" name="titulo" type="text" autocapitalize="off" required>
      </ion-input>
    </ion-item>

    <!--Definimos un input para capturar el texto de la nota el cual tiene un label flotante que sale del input cuando empezamos a escribir en el-->
    <ion-item>
      <ion-label floating>Texto</ion-label>
        <!--Definimos que este input guardara el valor de el texto del objeto nota-->
      <ion-textarea [(ngModel)]="nota.texto" rows="10" name="texto" type="text" required>
      </ion-textarea>
    </ion-item>
    <div padding>
        <!--Definimos el boton para guardar una nota el cual llamara a la funcion guardar-->
      <button ion-button (click)="guardar()" type="submit" color="primary" block>
        Guardar
      </button>
        <!--Definimos el boton de cerrar el cual cerrara el modal llamado a la funcion cerrar-->
      <button ion-button (click)="cerrar()" type="submit" color="danger" block>
        Cerrar
      </button>
    </div>
  </form>
</ion-content>