<!--Contenido de la pagina principal de la aplicacion home.html-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      FireNotes
    </ion-title>
    <ion-buttons end>
    <!-- Definimos un boton, le asignamos un icono y esta llamara a la funcion cerrarSesion()-->
      <button ion-button icon-only (click)="cerrarSesion()">
          <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--Definimos una lista de elementos en los cuales mostaremos las notas del usuario-->
  <ion-list>
  <!--Definimos los items de la lista como item-sliding ya que al deslizar un item a la izquierda se desplegaran
  un boton para poder eleminar-->
  <!-- Mediante un for recorremos la variable notas y vamos mostrando cada nota, le asignamos a la variable item una nota de la posicion i-->
    <ion-item-sliding *ngFor="let item of notas">
      <!--Definimos una item y mostramos una nota con sus titulo y su texto -->
      <ion-item>
          <h2>{{item.titulo}}</h2>
          <p>{{item.texto}}</p>
          <!--Al lado de cada nota ponemos un boton para poder editar el mismo-->
          <!--este boton llama a la funcion editarNota pasandole como parametro la nota en cuestion-->
          <!--le asignamos un icono al boton-->
          <button ion-button clear item-end (click)="editarNota(item)">Editar/Ver</button>
      </ion-item>
      <!--cuando el usuario deslise una nota hacia la izquierda se mostrara un boton de eliminar nota-->
      <ion-item-options side="right">
        <!--Este boton tendra un icono de basura y llamara a la funcion eliminarNota la cual recibe como parametro la nota en cuestion-->
        <button ion-button color="danger" (click)="eliminarNota(item)">
          <ion-icon name="md-trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!--Definimos un boton flotante el cual nos servira para agregar una nueva nota y se encontrara en la parte inferior derecha de la app-->
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="nuevaNota()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>